@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
	background-color: #313638;
}

.container {
	min-width: 320px;
	max-width: none;
}

header {
	background-color: #313638;
	padding: 10px 20px;
}
.foot{
	text-align: center;
}

h1 a{
    font-family: 'Bungee Inline', cursive;
	color: #E4B363;
	margin-bottom: 0;
}

h1 a:hover {
	text-decoration: none;
	color: #EF6461;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	color: #EF6461;
	font-weight: 300;
	font-size: 18px;
	display: inline-block;
	margin: 0;
}

p {
	font-family: 'Roboto', sans-serif;
	color: #E0DFD5;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Bungee Inline', cursive;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: #E0DFD5;
	text-align: center;
	padding-right: 12px;
	text-decoration: none;
  }
  
  li a:hover {
	color: #EF6461;
	text-decoration: none;
  }

.titles a {
	color: white;
	text-decoration: underline;
}

.titles i {
	margin-right: 5px;
	text-decoration: none;
}

.titles .documentation {
	margin-left: 28px;
}

.subtitle {
	color: white;
	margin: 0;
	padding: 13px 0;
	background-color: #2a3543;
	margin-bottom: 20px;
}

.subtitle h3 {
	font-size: 22px;
	font-weight: 400;
	margin: 0;
}

table {
	font-size: 14px;
}

table.table tbody tr td {
	border-top: 0;
	padding: 10px;
}

.foot {
	text-align: center;
	color: #c5c5c5;
	font-weight: 300;
}

.foot a {
	color: #8b8b8b;
	text-decoration: underline;
}

.centered {
	text-align: center;
}

@media all and (max-width: 770px) {
	.titles h1 {
		font-size: 25px;
		margin: 15px 0 5px 0;
	}
}

@media all and (max-width: 640px) {
	.titles h1 {
		font-size: 23px;
		margin: 15px 0 5px 0;
	}
	.titles h2 {
		font-size: 15px;
	}
	.titles .documentation {
		margin-left: 10px;
	}
}

@media all and (max-width: 530px) {
	.titles h1 {
		font-size: 20px;
		margin: 5px 0;
	}
	.logo {
		padding: 0
	}
	.logo img {
		width: 100%
	}
	.titles .documentation {
		margin-left: 0px;
		margin-top: 5px;
		display: block;
	}
}
