 <header>
  <div class="container">
    <h1>Aembassa</h1>
    <h2>Community Driven Keyforge Fun</h2>
    <ul>
      <li><a href="/decks">Decks</a></li>
      <li><a href="/combos">Combos</a></li>
      <li><a href="/cards">Cards</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/login">About</a></li>
      <li><a href="/login">Login/Signup</a></li>
    </ul>
  </div>
</header>
<%= yield %>
<div class="foot"> 
<span>Created by <a href="http://alexmcosta.com">Alex Costa</a> Powered by <a href="http://gobuffalo.io/">gobuffalo.io</a></span> 
</div>